.wrapper {
	width: 100%;
}

.description {
	padding: 1rem 3rem;
	overflow: hidden;
}

.img {
	float: right;
}

.description p {
	font-size: 1.5rem;
	font-family: sans-serif;
}

.options {
	width: 12rem;
	margin: 1rem auto;
}

.options span {
	font-family: sans-serif;
	font-weight: bold;
	color: #111;
	font-size: 1.2rem;
}

#myCanvas {
	border: 3px solid black;
	background-color: lightgray;
	display: block;
	margin: 0 auto;
}

.buttons {
	width: 25rem;
	margin: 2rem auto;
}

#btn_delete, #btn_draw, #btn_clear {
	display: inline-block;
	border-radius: 5px;
	background-color: #0b5067;
	color: #fff;
	font-size: 1.2rem;
}

#btn_delete[disabled] {
	color: #ccc;
	background-color: #183842;
}