/*-------BASIC STYLES-----------*/

*{
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: normal;
}

a {
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
}

.page-wrapper {
	max-width: 100rem;
	min-width: 20rem;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}

.container {
	width: 71.5%;
	margin: 0 auto;
}

.grey {
	background-color: #f8f8f8;
}

header {
	background: url(../images/header-bg.png) top left no-repeat;
	background-size: cover;
	padding-top: 2.1875rem;
	padding-bottom: 16.25rem;
	position: relative;
}
.top-bar {
	display: flex;
	justify-content: space-between;
	position: relative;

}
.topnav { 
	padding-top: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: auto;
	overflow: hidden;
}
.ham-icon {
    display: none;
}
.nav-link {

	text-transform: capitalize;
	color: white;
	font-size: 0.875rem;
	padding-left: 1rem;
}
.logo a {
	display: block;
	text-transform: capitalize;
	color: white;
	font-size: 1.5rem;
	margin-bottom: 11rem;
}
.slogan {
	text-align: center;
	color: white;
}
.slogan h1 {
	font-size: 3rem;
}
.slogan p {
	font-size: 1.25rem;
	text-transform: capitalize;
	margin-bottom: 3.125rem;
}
.button {
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
	padding: 0.7rem 1.8rem;
	border: 2px solid white;
}

.button:hover {
	color: #c0301c;
	background-color: white;
	border: 2px solid white;
}
.title {
	padding-top: 6rem;
	padding-bottom: 4.4rem;
}
.title h1, .title p {
	margin: 0;
	color: #555555;
	text-align: center;
}
.title h1 {
	position:relative;
	font-size: 1.25rem;
	padding-bottom: 2rem;
}
.border {
	background-color:  #555555;
	margin: 0 auto;
	width: 3.125rem;
	height: 0.1rem;
	margin-bottom: 2rem;
}
.icon1 i {
	margin: 0 auto;
	padding: 1rem;
	font-size: 2rem;
	border: 0.075rem solid #555555;
	border-radius: 50%;
	color: #c0301c;
}
.icon1 i:hover {
 	background-color: #c0301c;
 	color: white;
 	cursor: pointer;
}

.services-icons {
	margin-bottom: 6.25rem;
	display: flex;
	justify-content: space-between;
}
.service {
	width: 30%;
	text-align: center;
	font-size: 0.85rem;
	color: #555555;
}
.service h1 {
	text-transform: uppercase;
	font-size: 0.875rem;
}
.up-button {
	display: none;
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: 100;
}

.up-button a {
	font-size: 5rem;
	color: rgba(99, 166, 248, 0.4);
}
.about-info {
	display: flex;
	justify-content: space-between;
}
.column {
	width: 48%;
	color: #555555;
}

.team-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 6rem;
	margin-top: 4rem;
}

.member {
	position: relative;
	width: 24%;
}

.image-member {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.team-icons {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 90%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.team-icons a {
 	color: black;
 	font-size: 1.4rem;
 	
}
.member:hover .image-member {
	opacity: 0.3;
}

.member:hover .team-icons {
	opacity: 1;
}

.latestworks ul {
	width: 66%;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}
.latestworks ul li {
	padding: 0 0.5rem;
}
.latestworks ul li a {
	color: #555555;
}
.latestworks ul li a:hover {
	color: #c0301c;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 4.5rem;
}

.galleryblock img {
    width: 90%;
    height: auto;
}

.galleryblock {
	width: 30%;
	position: relative;
	margin-bottom: 1.3rem;

}

.redoverlay {
	display: none;
	position: absolute;
	background-color: rgba(192, 48, 28, 0.7); 
	width: 90%;
	height: 98.5%;
	text-align: center;
	line-height: 0.8rem;
}
.redoverlay h1, .redoverlay p {
	text-transform: capitalize;
	color: white;
	padding-top: 2rem;
	padding-bottom: 0;
}
.viewbutton {
	display: inline-block;
	background-color: white;
	text-transform: uppercase;
	border: white solid 0.1rem;
	padding: 0.3rem 1rem;
	margin-top: 1.5rem;
}
.viewbutton a {
	color: #c0301c;
	font-size: 0.9rem;
}

.galleryblock:hover .redoverlay{
	display: block;
}

.getintouch {
	background: url(../images/red-background.png) center no-repeat;
	padding: 5rem 0;
	text-align: center; 
}
.getintouch p {
	font-size: 1.5rem;
	color: white;
	margin-bottom: 3rem;
	line-height: 2;
}
.blogposts {
	padding-bottom: 1rem;
}
.blog img {
	width: 100%;
	height: 100%;
}
.blog {
	display: flex;
	color: #555555;
	margin: 2rem 0;
}
.blog-content {
	display: flex;
	flex-wrap: wrap;
	margin-left: 2rem;
}
.blogtitle {
	height: 3rem;
}
.blogtitle h1, .blogtitle p {
	font-size: 1rem;
	margin: 0 auto;
	line-height: 2;
}
.blogtitle p {
	font-style: italic;
	font-size: 0.8rem;
	color: #919191;
}
.blog-text {
	font-size: 0.8rem;

}
.blog-content .data {
	border: #555555 solid 0.1rem;
	width: 4rem;
	height: 4rem;
	text-align: center;
	padding-top: 0.5rem;
	margin-right: 1rem;
}

.readmore {
	text-transform: uppercase;
	color: #555555;

}
.readmore:hover {
	color: #c0301c;
}

.blog-border {
	background-color: #dddddd;
	margin: 0 auto;
	width: 100%;
	height: 0.1rem;
}	

.clients-logos {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;
}
.down {
	padding-top: 0.7rem;
}
.clients-logos img {
	width: 15%;
	height: 100%;
}
.clientsider {
  max-width: 60rem;
  position: relative;
  margin: auto;
  margin-bottom: 3rem;
}

.clientstext {
	text-align: center;
}
.clientsinfo {
	width: 70%;
	font-style: italic;
	margin: 2.5rem auto;
	font-size: 0.9rem;
	line-height: 2;
}

.mySlides {
    display: none;
}

.dot {
background-color: #dddddd;
  cursor:pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 4rem;
}
.active, .dot:hover {
  background-color: #c0301c;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.contact-form {
	display: flex;
	margin-bottom: 5rem;
}
.contact-info {
	
	margin-right: 6rem;
}
.address i, .address h1 {
	display: inline-block;
}
.address a {
	font-size: 0.7rem;
	margin-left: 1rem;
	color: #000;
}
.address h1 {
	font-size: 0.9rem;
	margin: 0 0.5rem;
}
form {
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
form div {
	margin-top: 0;
	font-size: 0.8rem;
}
form div span {
	color: #c0301c;
}
input:focus, textarea:focus {
    outline: #c0301c auto 5px;
}
.inputtext {
	width: 47%;
}
.inputtext input {
	width: 100%;
}
.message {
	width: 100%;	
	height: auto;
}

textarea.message {
	width: 100%;
	height: 6rem;
	resize: none;
}
.sendmessage {
	background-color: white;
	text-transform: uppercase;
	color: #c0301c;
	padding: 0.3rem 0.5rem; 
}

.sendmessage:hover {
	background-color: #c0301c;
	color: white;
}

*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-transform: uppercase;
}
*::-moz-placeholder { /* Firefox 19+ */
	text-transform: uppercase;
}
*:-ms-input-placeholder { /* IE 10+ */
	text-transform: uppercase;
}
*:-moz-placeholder { /* Firefox 18- */
	text-transform: uppercase;
}

footer {
	background-color: #c0301c;
	text-align: center;
	padding-top: 5rem;
}
.footer-icons i {
	color: white;
	border: solid 0.1rem white;
	border-radius: 50%;
	padding: 0.5rem;
	margin: 0 0.3rem;
}
.footer-border {
	background-color: white;
	margin: 2rem auto;
	width: 3.125rem;
	height: 0.1rem;
	margin-bottom: 2rem;
}

.author {
	text-transform: uppercase;
	color: white;
	padding-bottom: 5rem;
}


/*---------------MEDIA----------------------*/


@media screen and (min-width: 1000px) {
	.nav-link {
		font-size: 1rem;
	}
}





@media screen and (max-width: 1000px) {
.blog {
	display: block;
}
.blog-content {
	margin-left: 0;
	margin-top: 2rem;
}
.blog-text {
 margin: 3rem 0;
}
}
@media screen and (max-width: 850px) {
	.member {
		width: 48%;
		padding-bottom: 1rem;
	}
	.latestworks ul	{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}	

	.latestworks ul li {
		padding-bottom: 0.5rem;
		font-size: 1.5rem;
	}
	
}

@media screen and (max-width: 500px) {
	.member {
		width: 100%;
		padding-bottom: 1rem;
	}
	.gallery {
		display: block;
		margin-top: 2rem;
	}
	.galleryblock img {
	    width: 100%;
	    height: auto;
	}

	.galleryblock {
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
	}
	.redoverlay {
		width: 100%;
	}
	
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  .topnav {display: none;}
  a.ham-icon {
     display: block;
}
  a.ham-icon i {
	color: white;
	font-size: 1.5rem;
	}
	form {
		width: 100%;
	}
	.contact-form, form {
		display: block;
	}
	.inputtext {
		width: 100%;
	}
	.contact-info {
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
	}
	.address {
		display: block;
	}
	.address i {
		font-size: 3rem !important; 
	}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
	.topnav {
		margin-bottom: 12rem;
	}
	.topnav.responsive {position: relative;}
	a.ham-icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	 a.ham-icon i {color: white;}

	.topnav.responsive .nav-link {
	    display: flex;
	    line-height: 1.5;
	    font-size: 1.5rem;
	    padding-left: 0.5rem;
	}
	.topnav.responsive {
		display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	   	padding: 1rem 0.5rem;
	   	width: 100%;
	   	height: 11rem;
	    background-color: rgba(0, 0, 0, 0.4);
	    border-radius: 5% 0 5% 5%;
	    column-count: 2;
	    margin-bottom: 2rem;
	}
	.services-icons, .about-info {
		display: block;
	}
	.service, .column {
		width: 100%;
		margin-bottom: 2rem;
	}
	.myslides {
		margin: 2rem auto;	
	}
	.blogtitle h1, .blogtitle p {
	font-size: 0.8rem;
	}

}




