html, body, .wrap {
	height: 100%;
}

.wrap {
	height: auto;
	min-height: 100%;
	width: 90%;
	margin: 0 auto;
}

header {
	font-size: 40px;
	background-color: #B5F8FA;
	text-transform: uppercase;
}

.main {
	padding-top: 30px;
}



.wrap-form {
	width: 70%;
	float: left;
	margin-right: 20px;
	padding: 20px;
	border: 2px solid black;
	border-radius: 15px;
}

.add-new {
	width: 30%;
	float: left;
}

#table-users {
	width: 70%;
	float: left;
}

.content {
	float: left;
	font-size: 20px;
	text-transform: uppercase;
}



#users {
	display: inline-block;
	width: 100%;
	border-collapse: collapse;
}

#users th, #users td {
	width: auto;
	border: 1px solid black;
	padding: 10px 30px;
}


footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear:both;
	font-size: 40px;
	background-color: #B5F8FA;
	text-transform: uppercase;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}